{% extends "base_generic.html" %}

{% block content %}

{% if next %}

{% endif %}
<div class="row">
    <div class="d-flex flex-column">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger text-center mt-3">
                    <strong><i>Your username and password didn't match. Please try again.</i></strong>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" name="username" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <input class="mt-3 btn btn-primary" type="submit" value="Login"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <div class="pt-3">
            {# TODO password_reset #}
            <p style="text-align: center;"><a href="/create_user">Need an account? Create a new one here</a></p>
        </div>
        <!--            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->
        {% endblock %}
    </div>
</div>