<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Sol Tracker</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'app/style.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

    </head>

    <body>

    <nav class="navbar navbar-expand navbar-dark bg-dark navbar-background">
        <a class="navbar-brand" href="/">Sol Tracker!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/validators">Validators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wallets">Wallets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="d-flex justify-content-center pt-lg-5 background">
        {% block content %}{% endblock content %}
     </div>
    </body>
</html>