<!DOCTYPE html>
{% extends "base_generic.html" %}

{% block content %}
<body>
<span style="text-align: center">
    {% if user.is_authenticated %}
        <b><i>Keep track of all your DeFi investments!</i></b>
    {% else %}
        <b><i>Sign in to track DeFi investments!</i></b>
    {% endif %}
    <br>DeFi Tracker was developed by Brian Roper
    <br>All open-source code can be found on <a href="https://github.com/broper2/defi-tracker" target="_blank">Github</a>
</span>

</body>

{% endblock %}
