<!DOCTYPE html>
{% extends "base_generic.html" %}

{% block content %}

<div class="row">
    <div class="d-flex flex-column">
        <div class="pl-5">
            <h2>Track new wallet:</h2>
            <form method="post" action="/wallets">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <p> {{ error }} </p>
                {% endfor %}
                {% endfor %}
                {% endif %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="pl-5">
            {% if data %}
                <table class="table">
                    <tr>
                        <th scope="col">Wallet Display Name</th>
                        <th scope="col">Wallet Sol tokens</th>
                        <th scope="col">Wallet USD value</th>
                        <th scope="col">Staked Account</th>
                    </tr>
                    {% for wallet in data %}
                        <tr>
                        {% if wallet.display_name == 'Portfolio Total' %}
                            <td><i>{{wallet.display_name}}</i></td>
                            <td><i>{{wallet.sol}}</i></td>
                            <td><i>${{wallet.usd}}</i></td>
                            <td><i>{{wallet.staked}}</i></td>
                        {% else %}
                            <td>{{wallet.display_name}}</td>
                            <td>{{wallet.sol}}</td>
                            <td>${{wallet.usd}}</td>
                            <td>{{wallet.staked}}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
