<!DOCTYPE html>
{% extends "base_generic.html" %}

{% block content %}

<div class="row">
    <div class="d-flex flex-column">
        <div class="pl-5">
            <h2>Track new wallet:</h2>
            <form method="post" action="/{{ network }}/wallets" class="data-form">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p> {{ error }} </p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <button class="mt-3 btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="pl-5">
            {% if data %}
                <table class="table">
                    <tr>
                        <th scope="col">Wallet Display Name</th>
                        <th scope="col">Wallet Sol tokens</th>
                        <th scope="col">Wallet USD value</th>
                        <th scope="col">Staked</th>
                    </tr>
                    {% for wallet in data %}
                        <tr>
                        {% if wallet.display_name == 'Portfolio Total' %}
                            <td><i>{{wallet.display_name}}</i></td>
                            <td><i>{{wallet.token}}</i></td>
                            <td><i>${{wallet.usd}}</i></td>
                            <td><i>{{wallet.staked}}</i></td>
                        {% else %}
                            <td>{{wallet.display_name}}</td>
                            <td>{{wallet.token}}</td>
                            <td>${{wallet.usd}}</td>
                            <td>{{wallet.staked}}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column pl-2">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#recordModel">
            <i class="fas fa-cog"></i>
        </button>
        <!-- Delete Wallet tracking modal -->
        <div class="modal fade" id="recordModel" tabindex="-1" role="dialog" aria-labelledby="recordModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="recordModelLabel">Control wallets</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/{{ network }}/wallets/delete" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="modelpk">Tracked Wallets</label>
                                </div>
                                <select class="custom-select" name="modelpk" id="modelpk">
                                    {% for wallet in modal_data %}
                                        <option value={{ wallet.key }}>{{ wallet.display_name }}</option>{# SHOULD THIS BE DISPLAY NAME? #}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button class="mt-3 btn btn-danger" type="submit">Stop Tracking</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
