input, textarea, button {
    float: right;
    background-color: #f6f7fa;
}

label {
    padding-right: 5px;
}

body {
    background-color: #ffffff;
}

.data-form {
    margin-right: 30px;
}

a.nav-a-dropdown {
    color: white;
    padding-right: 20px;
}

ul.black-dropdown {
    background-color: #212529;
}

a.dropdown-text {
    color: white;
    padding-right: 15px;
}